body {
    background-color: #5c547e; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; /* Prevent horizontal scrolling */
    color: white; 
}

#maincontainer {
    padding: 40px; 
    width: 100%; 
    min-height: 100vh; /* Ensure minimum height of viewport */
    background-image: url('backgroundpage.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    
}

#my-text {
    font-family: "Futura", "Avenir Next", sans-serif;
    font-size: 48px; 
    margin-left: 20%;
}

.navbar {
    background-color: transparent !important; /* Remove background color */
    border: none !important; /* Remove border */
}

.navbar-toggler {
    border-color: white !important; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-nav {
    flex-direction: column; 
}

.navbar-nav .nav-link {
    color: #888; 
}

.navbar-nav .nav-link:hover {
    color: #555; /* Darker gray color on hover */
}

@media (max-width: 480px) {
    #my-text {
        font-size: 36px; 
        margin-top: 10px; 
    }
    .navbar-toggler {
        position: absolute;
    }
    .navbar-nav {
        text-align: center; /* Center align links on small screens */
    }
}

@media (min-width: 481px) {
    #my-text {
        font-size: 70px; 
    }
    .navbar {
        margin-left: 25%; 
    }
    #button1 {
        font-size: 12px;
    }
}

#firstbutton {
    display: flex;
    margin-left: 25%;
    align-items: center; /* Corrected typo */
}

#button1 {
    color: white;
    background-color: violet;
    height: 35px;
    padding: 5px 20px; /* Adjusted padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}

#blurry {
    margin-left: 50%;
    margin-top: 40px;
}

#talk {
    margin-left: 30%;
    margin-top: 10px;
}

#ball {
    margin-top: 30px;
}

#rightbar{
    margin-top: 30px;
}

#VerticalText{
    color: white;
    margin-top: 50px;
    transform: rotate(90deg);
}
#goofy{
    color:rgb(110, 110, 110);
    font-size: 12px;
}


#companies1{
    display: flex;
    justify-content:  center;
    align-items: center;
    margin-top: 20px;   
    margin-left: 10px;
    padding: 0 5px;
    gap: 10px;
}

.cloud {
    background-color: rgba(169, 169, 169, 0.5);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 2px 30px;
    animation: moveLeft 2s ease infinite alternate;
}

.company-logo {
    width: 60px; 
    height: 60px; 
}

.company-text {
    margin-left: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.other-companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
#companies2{
    display: flex;
    justify-content:  center;
    align-items: center;
    margin-top: 20px;   
    margin-left: 10px;
    padding: 0 5px;
    gap: 10px;
}
#hand{
    margin-top: 100px;
}
.cloud2 {
    background-color: rgba(169, 169, 169, 0.5);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 2px 20px;
    animation: moveRight 2s ease infinite alternate;
}

.company-logo2 {
    width: 30px;
    height: 30px; 
}

.company-text2 {
    margin-left: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.other-companies2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
@media (max-width: 1042px) {
    #companies1{
        display: flex;
        justify-content:  center;
        align-items: center;
        margin-top: 20px;   
        margin-left: 10px;
        padding: 0 5px;
        gap: 10px;
    }
    
    .cloud {
        background-color: rgba(169, 169, 169, 0.5);
        border-radius: 50px;
        padding: 5px 10px;
        margin: 2px 5px;
    }
    
    .company-logo {
        width: 15px; 
        height: 15px; 
    }
    
    .company-text {
        color: white;
        font-size: 10px;
        font-weight: bold;
    }
    .other-companies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
    }
    #companies2{
        display: flex;
        justify-content:  center;
        align-items: center;
        margin-top: 20px;   
        margin-left: 10px;
        padding: 0 5px;
        gap: 10px;
    }
    #hand{
        margin-top: 100px;
    }
    .cloud2 {
        background-color: rgba(169, 169, 169, 0.5);
        border-radius: 50px;
        padding: 5px 10px;
        margin: 2px 5px;
    }
    
    .company-logo2 {
        width: 15px;
        height: 15px; 
    }
    
    .company-text2 {

        color: white;
        font-size: 10px;
        font-weight: bold;
    }
    .other-companies2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
    }
}
@media (max-width: 481px) {
    #companies1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 5px;
        padding: 0 3px;
        gap: 5px;
    }
    
    .cloud {
        background-color: rgba(169, 169, 169, 0.5);
        border-radius: 50px;
        padding: 3px 6px;
        margin: 1px 2px;
    }
    
    .company-logo {
        width: 10px;
        height: 10px;
    }
    
    .company-text {
        color: white;
        font-size: 8px;
        font-weight: bold;
    }
    
    .other-companies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
    }
    
    #companies2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 5px;
        padding: 0 3px;
        gap: 5px;
    }
    
    .cloud2 {
        background-color: rgba(169, 169, 169, 0.5);
        border-radius: 50px;
        padding: 3px 6px;
        margin: 1px 2px;
    }
    
    .company-logo2 {
        width: 10px;
        height: 10px;
    }
    
    .company-text2 {
        color: white;
        font-size: 8px;
        font-weight: bold;
    }
    
    .other-companies2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
    }
}


#mybutt{
    background-color: #6906db;
    margin: 2px 5px;
}

#serv{
    font-size: 62px;
}
.bigcloud {
    background-color: #240349;
    border-radius: 50px;
    padding: 30px;
    margin: 20px;
}

.services {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.company-logo2 {
    width: 100px;
    height: auto;
}

.mt-3 {
    margin-top: 3rem;
}

#serv2{
    font-size: 62px;
}
.company-logo3{
    width: 300px;
    height: auto;
}
.bigcloud2 {
    background-color: #240349;
    border-radius: 30px; /* Adjust the border radius to make it smaller */
    padding: 10px; /* Reduce the padding to make the border smaller */
    margin: 10px;
}

#showhor{
    display: flex;
    align-items: center;
    justify-content: center;
}
#serv3{
    font-size: 42px;
}
#smalltext {
    font-size: 12px;
    max-width: 100%; /* Ensure text doesn't overflow its container */
    margin-bottom: 20px; /* Add some space between the text and the buttons */
}

.company-logo3 {
    max-width: 100%; 
    height: auto; /* Maintain aspect ratio */
    display: block; 
    margin-top: 20px; /* Add some space between the image and the text */
}
#smalltext2{
    max-width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.company-logo3 {
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper block-level rendering */
    margin-top: 60px; /* Add some space between the image and the text */
}


.input-group {
    width: 100%;
}

.form-control {
    background-color: transparent;
    border: 1px solid #ced4da; /* Add border for visibility */
    color: #fff; 
}

.input-group-append {
    margin-left: -1px; /* Remove gap between input field and button */
}

.btn-transparent {
    background-color: transparent;
    border: none;
    color: #4b4b4b; /* Button text color */
    cursor: pointer; /
}

.btn-transparent:hover {
    text-decoration: underline; /* Underline the text on hover */
}
#mf{
    margin-top: 20px;
}


.display-4 {
    font-size: 22vw; /* Adjust the font size based on the viewport width */
    margin: 0; /* Remove all margins */
    padding: 0; 
    width: 100%; 
}

@keyframes moveLeft {
    0% { transform: translateX(0); }
    50% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* Define animation keyframes for moving right */
@keyframes moveRight {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Apply animation to elements */
#animation .col-md,
#animation .cloud,
#animation .cloud2,.text-center,
#firstbutton,
#navbarNav,
#talk,
#blurry,
#ball,
#fan,
#goofy {
    animation: slideInFromLeft 1s ease-out;
}